.kotak {
      width: auto;           
      height: 150px;        
      background-color: #02b372;
      margin: auto;             
      text-align: center;        
      line-height: 100px;        
      color: white;             
      font-weight: bold;
}


/* text css above hero image*/
.hero_title {
    font-size: 5rem;
    color: #000000;
}
.hero_desc {
    font-size: 1rem;
    color: #000000;
    
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 60%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
    /*text-align: justify; */
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #00f7ff;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
